{% load static %}

    <!-- ===============  footer style start =============== -->
    <div class="footer_style__one bg-body-2 varient-2 section_gap_y_top__1">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-3">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="index.html" class="for-dark"><img src="{% static 'assets/images/logo.png' %}" alt=""></a>
                            <a href="index.html" class="for-light"><img src="{% static 'assets/images/logo-v2.png' %}" alt=""></a>
                        </div>
                        <p>NFTOcean is a shared liquidity NFT market smart contract</p>
                        <h5>Language</h5>

                        <div class="languege__dropdown varient-3">
                            <button>
                                <img src="{% static 'assets/images/icons/flag-us.png' %}" alt=""> English
                            </button>
                            <ul class="languege__list">
                                <li><a href="#"> <img src="{% static 'assets/images/icons/flag-us.png' %}" alt=""> English</a></li>
                                <li><a href="#"> <img src="{% static 'assets/images/icons/flag-us.png' %}" alt=""> English</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6 d-flex justify-content-lg-center">
                    <div class="footer__widget varient-2">
                        <h6 class="footer_widget__title">Market plac</h6>

                        <ul class="footer_widget__links">
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Marketplace</a></li>
                            <li><a href="#">Creators</a></li>
                            <li><a href="#">Activity</a></li>
                            <li><a href="#">Colletctions</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-6 d-flex justify-content-lg-center ">
                    <div class="footer__widget varient-2">
                        <h6 class="footer_widget__title">Company</h6>

                        <ul class="footer_widget__links">
                            <li><a href="#">Upload</a></li>
                            <li><a href="#">Our blog </a></li>
                            <li><a href="#">Item details</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="footer__widget newslatter__widget">
                        <h6 class="footer_widget__title">Join Newsletter</h6>
                        <form action="#" method="POST" id="footer_form__one">
                            <div class="footer_newslatter__one style__three mt-2">
                                <input type="text" placeholder="Your Email">
                                <button type="submit"
                                    class="form__submit submit-btn-one btn-rounded-v1">Subscribe</button>
                            </div>
                        </form>

                        <ul class="footer_social__links d-flex style__three">
                            <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                            <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                            <li><a href="#"><i class="bi bi-youtube"></i></a></li>
                            <li><a href="#"><i class="bi bi-github"></i></a></li>
                            <li><a href="#"><i class="bi bi-discord"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row footer__copyright has-border-top varient-2">
                <div class="col-lg-12">
                    <p class="text-center">Copyright©2022. Created with love by <a href="#">wprealizer</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- ===============  footer style end =============== -->
